/* Main Cross Platform Styles */
html {
  background-color: var(--page-background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: center;
}

body {
  margin-left: 4vw;
  margin-right: 4vw;
}

#fallbackTitle {
  font-weight: 600;
}

/* Mobile Only Styles */
@media screen and (max-width: 430px) {
  #fallbackTitle {
    font-size: 2.6em;
  }

  #noFallbackErrorExplanation {
    font-size: 1.4em;
    margin-top: 50%;
  }

  .fallbackItemButtonLink {
    color: green;
  }

  .fallbackItemButtonNoLink {
    color: red;
  }
}
