/* Main Cross Platform Styles */
html {
  background-color: var(--page-background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: center;
}

body {
  margin-left: 4vw;
  margin-right: 4vw;
}

#fallbackTitle {
  font-weight: 600;
}

.fallbackItemButton {
  border-radius: var(--border-radius);
  background-color: var(--card-background-color);
  border-color: var(--border-color);
  color: var(--text-color);
  cursor: pointer;
  overflow-x: auto;
}

.fallbackItemButtonLink:hover {
  background-color: var(--card-background-color-hover);
}

.fallbackItemButtonNoLink {
  background-color: var(--card-background-color-disabled);
  cursor: not-allowed;
}

/* Mobile Only Styles */
@media screen and (max-width: 600px) {
  #fallbackTitle {
    font-size: 2.8em;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #noFallbackErrorExplanation {
    font-size: 1.8em;
    margin-top: 45%;
  }

  #fallbackList {
    display: flex;
    flex-direction: column;
  }

  .fallbackItemButton {
    margin-top: 2.2%;
    margin-bottom: 2.2%;
    font-size: 2.4em;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

/* Desktop Only Styles */
@media screen and (min-width: 601px) {
  #fallbackTitle {
    font-size: 2.8em;
    margin-top: 3.4%;
    margin-bottom: 3.4%;
  }

  #noFallbackErrorExplanation {
    font-size: 2em;
    margin-top: 32%;
  }

  /* 
    Last row of items won't be spaced properly to match the generated "columns"
    Won't be worked on for now but for future reference see this article:
    https://travishorn.com/some-ways-to-align-the-last-row-in-a-flexbox-grid-720f365dcb16 
  */
  #fallbackList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .fallbackItemButton {
    margin-top: 0.8%;
    margin-bottom: 0.8%;
    font-size: 2.4em;
    padding-top: 6%;
    padding-bottom: 6%;
    width: 32%;
  }
}
