:root {
  --page-background-color: black;
  --card-background-color: #242424;
  --card-background-color-hover: #181818;
  --card-background-color-disabled: #181818;
  --text-color: white;
  --font-family: sans-serif;
  --border-radius: 16px;
  --border-color: transparent;
}
